<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.0.1" targetFramework="net472" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.0.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.2.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options.ConfigurationExtensions" version="2.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="3.1.8" targetFramework="net472" />
  <package id="Microsoft.SqlServer.Compact" version="4.0.8876.1" targetFramework="net472" />
  <package id="Nethereum.ABI" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Accounts" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.BlockchainProcessing" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Contracts" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Hex" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.JsonRpc.Client" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.JsonRpc.RpcClient" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.KeyStore" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Model" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.RLP" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.RPC" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Signer" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.StandardTokenEIP20" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Util" version="4.1.1" targetFramework="net472" />
  <package id="Nethereum.Web3" version="4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net472" />
  <package id="Serilog" version="2.10.0" targetFramework="net472" />
  <package id="Serilog.AspNetCore" version="4.1.0" targetFramework="net472" />
  <package id="Serilog.Extensions.Hosting" version="4.1.2" targetFramework="net472" />
  <package id="Serilog.Extensions.Logging" version="3.0.1" targetFramework="net472" />
  <package id="Serilog.Formatting.Compact" version="1.1.0" targetFramework="net472" />
  <package id="Serilog.Settings.Configuration" version="3.1.0" targetFramework="net472" />
  <package id="Serilog.Sinks.Console" version="4.0.1" targetFramework="net472" />
  <package id="Serilog.Sinks.Debug" version="2.0.0" targetFramework="net472" />
  <package id="Serilog.Sinks.File" version="4.1.0" targetFramework="net472" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SQLite" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.EF6" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Data.SQLite.Linq" version="1.0.115.5" targetFramework="net472" />
  <package id="System.Memory" version="4.5.2" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.1" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>